<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ToDo list</title>
	<link rel="stylesheet" href="/css/all.css">
	<link rel="icon" href="/public/images/favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="/public/images/favicon.png" type="image/x-icon">
</head>
<body>
	<div id="wrapper">
	</div>
	<!-- templates backbone -->
	<script type="text/template" id="login-template">
		<div id="login-form-block">
			<div class="form-holder">
				<figure class="form-icon user-icon">
					<img src="images/user-icon.png" height="21" width="17" alt="user icon">
				</figure>
				<figure class="form-icon pswd-icon">
					<img src="images/password-icon.png" height="21" width="16" alt="white lock">
				</figure>
				<form action="#" class="login-form">
					<fieldset>
						<div class="input-holder">
							<h2>Authorization</h2>
							<div class="row">
								<div class="input-box">
									<input class="login-field" id="user-email-field" type="text" value="" placeholder="User's e-mail">
								</div>
							</div>
							<div class="row">
								<div class="input-box">
									<input class="login-field" id="user-password-field" type="password" value="" placeholder="User's password"/>
								</div>
							</div>
						</div>
						<div class="action-row">
							<a href="#reg-page" class="reg-page-link">Register</a>
							<div class="btn-holder">
								<input type="submit" name="sign-in-btn" class="sign-in-btn" value="Sign in">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</script>
	<script type="text/template" id="registration-template">
		<div id="login-form-block">
			<div class="form-holder">
				<form action="#" class="login-form">
					<fieldset>
						<div class="input-holder">
							<h2>Registration</h2>
							<div class="row">
								<label for="user-nick-field">Nick</label>
								<div class="input-box">
									<input class="login-field" id="user-nick-field" type="text" value="" placeholder="Enter your nick"/>
								</div>
							</div>
							<div class="row">
								<label for="user-name-field">E-mail</label>
								<div class="input-box">
									<input class="login-field" id="user-email-input" type="text" value="" placeholder="Enter your e-mail">
								</div>
							</div>
							<div class="row">
								<label for="user-password-field">Password</label>
								<div class="input-box">
									<input class="login-field" id="user-password-field" type="password" value="" placeholder="Enter your password"/>
								</div>
							</div>
						</div>
						<div class="action-row">
							<div class="btn-holder">
								<input type="submit" name="register-btn" class="reg-user-btn" value="Register">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</script>
	<!-- templates backbone -->
	<script type="text/template" id="modal-window-template">
		<div id="modal-window-holder">
			<div class="modal-window error-msg">
				<h2>Title message</h2>
				<p>Message text</p>
				<form action="#" class="info-form">
					<fieldset>
						<button class="confirm-btn" type="button">Ok</button>
						<button class="cancel-btn" type="button">Cancel</button>
					</fieldset>
				</form>
			</div>
		</div>
	</script>
	<script type="text/javascript" src="/js/lib/jquery-2.1.1.min.js" defer></script>
	<script type="text/javascript" src="/js/lib/underscore-1.7.0-min.js" defer></script>
	<script type="text/javascript" src="/js/lib/backbone-min-1.1.2.js" defer></script>
	<script type="text/javascript" src="/js/lib/myLib.js" defer></script>
	<script type="text/javascript" src="/js/views/user-view.js" defer></script>
	<script type="text/javascript" src="/js/main.js" defer></script>
</body>
</html>