@font-face {
  font-family: "BreeSerif Regular";
  src: url('../fonts/breeserif/breeserif-regular-webfont.eot?1409667179') format('embedded-opentype'), url('../fonts/breeserif/breeserif-regular-webfont.svg?1409667179') format('svg'), url('../fonts/breeserif/breeserif-regular-webfont.ttf?1409667179') format('truetype'), url('../fonts/breeserif/breeserif-regular-webfont.woff?1409667179') format('woff');
}
/* line 10, ../sass/login-form.scss */
#login-form-block {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #3f5995 url("../images/bg-login.jpg");
  z-index: 1;
}

/* line 20, ../sass/login-form.scss */
.form-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 298px;
  padding: 0 1px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 30, ../sass/login-form.scss */
.form-holder:hover .user-icon {
  left: -45px;
}

/* line 36, ../sass/login-form.scss */
.login-form {
  width: 296px;
  position: relative;
  z-index: 9999;
  background: #f3f3f3;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: rgba(250, 250, 250, 0.4) 0 0 2px 2px;
  -webkit-box-shadow: rgba(250, 250, 250, 0.4) 0 0 2px 2px;
  box-shadow: rgba(250, 250, 250, 0.4) 0 0 2px 2px;
}
/* line 45, ../sass/login-form.scss */
.login-form .input-holder {
  padding: 37px 27px 10px 32px;
}
/* line 49, ../sass/login-form.scss */
.login-form h2 {
  margin: 0 0 30px;
  font: 28px/30px "BreeSerif Regular", Georgia, serif;
  color: #414848;
}
/* line 55, ../sass/login-form.scss */
.login-form label {
  display: inline-block;
  margin: 0 0 5px;
  font: 18px/20px "BreeSerif Regular", Georgia, serif;
  color: #707070;
}
/* line 62, ../sass/login-form.scss */
.login-form .input-box {
  padding: 3px 2px 0 1px;
  margin: 0 0 20px;
  border: 1px solid #fff;
  -moz-box-shadow: #cccccc 1px 1px 2px 2px inset;
  -webkit-box-shadow: #cccccc 1px 1px 2px 2px inset;
  box-shadow: #cccccc 1px 1px 2px 2px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 70, ../sass/login-form.scss */
.login-form .login-field {
  width: 192px;
  padding: 14px 20px;
  margin: 0;
  font: 14px/16px Arial, Verdana, sans-serif;
  color: #777;
  background: #fff;
  border: none;
  outline: none;
  -moz-border-radius: 3px 3px 2px 2px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 2px 2px;
}
/* line 82, ../sass/login-form.scss */
.login-form .action-row {
  padding: 25px 30px;
  text-align: center;
  border: 1px solid #bec7c8;
  border-width: 1px 0 0;
  background: #d4dedf;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
}
/* line 90, ../sass/login-form.scss */
.login-form .action-row a {
  font: 18px/20px "BreeSerif Regular", Georgia, serif;
  color: #414848;
  margin: 0 20px 0 0;
  text-decoration: none;
}
/* line 96, ../sass/login-form.scss */
.login-form .action-row a:hover {
  text-decoration: underline;
}
/* line 102, ../sass/login-form.scss */
.login-form .btn-holder {
  display: inline-block;
  padding: 1px;
  border: 1px solid #46b3d3;
  background: #89d4ea;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 109, ../sass/login-form.scss */
.login-form .btn-holder input {
  margin: 0;
  padding: 10px 15px;
  font: 18px/20px "BreeSerif Regular", Georgia, serif;
  color: #fff;
  text-shadow: #4091a9 0 1px 1px;
  text-shadow: #4091a9 0 1px 1px 1px;
  background: #56c2e1;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
}
/* line 120, ../sass/login-form.scss */
.login-form .btn-holder input:hover {
  cursor: pointer;
  background: #2bb2d9;
}

/* line 128, ../sass/login-form.scss */
.form-icon {
  position: absolute;
  left: 1px;
  z-index: 10;
  background: rgba(65, 72, 72, 0.75);
  padding: 12px 15px;
  height: 24px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  transition: all 0.5s;
}
/* line 138, ../sass/login-form.scss */
.form-icon image {
  vertical-align: top;
}
/* line 142, ../sass/login-form.scss */
.form-icon.user-icon {
  top: 99px;
}
/* line 146, ../sass/login-form.scss */
.form-icon.pswd-icon {
  top: 168px;
}
