/*page size*/
$page-width: 800px;

/* colors */
$dark-gray: #444;
$light-gray: #dddfe3;
$gray: #999;
$more-light-gray: #929292;
$light-yellow: #f8e281;
$orange: #ff661a;
$black: #000;
$white: #fff;


/*-----*/
$bg-header: $light-gray;
$text-header-color: $dark-gray;
$user-login-color: $black;
$bg-section-block: $light-yellow;
$border-section-color: $dark-gray;
$bg-section-bottom-grad: $orange;
$bg-btn-add-task: $light-gray;
$border-btn-add: $more-light-gray;
$border-tabset: $orange;
$bg-tab-item: $light-yellow;
$bg-tab-item-hover: $orange;
$text-tab-item-color: $black;
$text-tab-item-hover-color: $white;
$border-item-color: $black;
$border-label-sep: $black;
$bg-btn-save: $light-yellow;
$unactive-text-color: gray;